
#background {
	font-family: 'Open Sans', sans-serif;

}

.card.transparent{
	position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 25%;
	  background-color: rgba(0, 0, 0, 0.3);
}

.card.two{
	position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 25%;
	  background-color: rgba(0, 0, 0, 0.3);
}

.card.three {
	position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 25%;
	  background-color: rgba(0, 0, 0, 0.3);
}

.card.four {
	position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 25%;
	  background-color: rgba(0, 0, 0, 0.3);
}

.img-responsive{
	max-width: 100%;
	height: 84%;
}

}

#contact-section-1 {
	position: absolute;
	left: 60%;
	overflow-y: hidden;
}

.map-responsive {
	overflow: hidden !important;
	padding-bottom: 50%;
	position: relative;
	height: 0;
}

.map-responsive iframe {
	left: 0;
	top: 0;
	height: 50%;
	width: 50%;
	position: absolute;
}

#background {
	background-image: url(https://i.pinimg.com/originals/0f/eb/f9/0febf9567495dc9a6fe93c81a2245d70.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: darken;
}

#project-1 {
	border-bottom: 10px;
}

.footer-absolute {
	position: absolute;
	  bottom: 100;
	  width: 80%;
	  padding: 10px;
}

.button{
	background-color: #673ab7;
}

.gradient-text1 {
  background: linear-gradient(to right, #D7DAF2, #F5D6E5);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
 
}

.gradient-text0 {
 font-size: 30px;
            font-weight: bold;
            color: floralwhite; /* Text color (white in this example) */
            text-shadow: 0 0 10px #fff; /* Initial glow effect, adjust as needed */
            animation: glow 1.5s ease-in-out infinite;
 }

.gradient-text {
 font-size: 40px;
            font-weight: bold;
            color: peachpuff; /* Text color (white in this example) */
            text-shadow: 0 0 10px floralwhite; /* Initial glow effect, adjust as needed */
            animation: glow 1.5s ease-in-out infinite;
 }
.gradient-text2 {
font-size: 50px;
            font-weight: bold;
            color: #fff; /* Text color (white in this example) */
            text-shadow: 0 0 10px #fff; /* Initial glow effect, adjust as needed */
            animation: glow 1.5s ease-in-out infinite;
}

.gradient-text3 {
  font-size: 50px;
            font-weight: bold;
            color: #fff; /* Text color (white in this example) */
            text-shadow: 0 0 10px #fff; /* Initial glow effect, adjust as needed */
            animation: glow 1.5s ease-in-out infinite;
}

.gradient-text4 {
  font-size: 50px;
            font-weight: bold;
            color: #fff; /* Text color (white in this example) */
            text-shadow: 0 0 10px #fff; /* Initial glow effect, adjust as needed */
            animation: glow 1.5s ease-in-out infinite;
}

.gradient-text5 {
	font-size: 36px;
            font-weight: bold;
            color: #fff; /* Text color (white in this example) */
            text-shadow: 0 0 10px #fff; /* Initial glow effect, adjust as needed */
            animation: glow 1.5s ease-in-out infinite;
}

footer {
     /* Set the background color for the footer */
    padding: 10px; /* Add some padding to the footer for better spacing */
    text-align: center; /* Center the content within the footer */
    /* Add any additional styles as needed */
}		


#text {
	font-size: 30px;
            font-weight: bold;
            color: ghostwhite; /* Text color (white in this example) */
            text-shadow: 0 0 10px #fff; /* Initial glow effect, adjust as needed */
            animation: glow 1.5s ease-in-out infinite;
 }

.img-thumbnail {
	animation: animateColors 8s ease-in-out infinite;
}

@keyframes animateColors{
	0%,100%
	{
		transform: translateX(0px);
	}
	50%
	{
		transform: translateX(-50px);
	}
}
}

#prof {
	font-size: 10px;
	font-weight: bold;
	color: white;
}